{% load static %}
<header class="bp-header cf">
    <h1 class="bp-header__title">RE<span class="color-theme">SUM</span>E</h1>
    <p class="bp-header__desc">“It's not what you achieve, it's what you overcome.” — Carlton Fisk</p>
</header>
<br />
<div class="container text-center" >
	<span class="desktop">
		<iframe id="resume" src="{{resume_path}}" style="width:80%; height:75vh" frameborder="0"></iframe>
	</span>
	<span class="mobile">
		<iframe id="resume" src="https://docs.google.com/gview?embedded=true&url=https://ghimanshu.com{{resume_path}}&amp;embedded=true" style="width:80%; height:75vh" frameborder="0"></iframe>
	</span>
</div>

